/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --fonte_titulo: "Fredoka", Helvetica, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input:focus {
    outline: none;
}

.mat-table
{
  background-color:transparent!important;  
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}